.editItemModal {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(89, 89, 89, 0.5); /* Here 0.5 is the opacity value */
    font-size: 1.5rem;
}

.editItemModal button:nth-child(1) {
    background-color: #ef4444;
}

.editItemModal button:nth-child(2) {
    background-color: #22c55e;
}

.editItemModal button:nth-child(3) {
    background-color: #3b82f6;
}